.container{
    background-color: white;
    color: #171718;
    padding-top: 5%;
    width: 50%;
    height:800px;
}
button{
    background-color: #8c52ff;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 90%;
    transition: 1s;
}

button:focus{
    border-bottom: 2px solid #8c52ff;
    transition: 1s;
}

button:hover{   
    border-bottom: 2px solid #8c52ff;
    transition: 1s;
}
input{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 90%;
    transition: 1s;
}

input:focus{
    border-bottom: 2px solid #8c52ff;
    transition: 1s;
}