.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #171718;
    height: 680px;
}
.sign {
    order: 1;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    width: 50%;
    background-color: white;
    top: 0;
}

.title {
    color: black ;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
}

input {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 90%;
    transition: 1s;
}

input:focus {
    border-bottom: 2px solid #8c52ff;
    transition: 1s;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    background-color: #8c52ff;
    color: white;
    border: none;
    border-radius: 50px;
    margin: 10px;
    transition: 1s;
}

button:hover {
    background-color: #b1b1de;
    transition: 1s;
}

#button {
    text-align: center;
}


a {
    color: #4a4aff;
}

.logo {
    order:2;
    height: 100%;
    background-color: #d60000;
    border-radius: 20px;
    width: 51%; /* Ajusta el ancho de cada elemento para que ocupen casi la mitad del contenedor */
}