
<h1>
    Venta de productos
</h1>
<div class="table">
<table border="1">
    <caption>Ventas</caption>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Presentacion</th>
        <th>Cantidad</th>
        <th>Total</th>
    </tr>
    <tr *ngFor="let venta of arrVentas">
        <td>{{venta.nombre}}</td>
        <td>{{venta.precio}}</td>
        <td>{{venta.presentacion}}</td>
        <td>{{venta.cantidad}}</td>
        <td>{{venta.total}}</td>
    </tr>
    <tr>
</table>
</div>
<div class="buttons">
<button>Realizar Venta</button>
<button>Borrar Venta</button>
</div>