h1{
    text-align: center;
    color: white;
}
.botons{
    text-align: center;
    padding: 20px;
    color: #8c52ff;
}




table caption{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    background-color: #8c52ff;
    color: white;
    border-radius: 20px;
}

table tr:hover td {
    background-color: #f7f7f7;
    color: #8c52ff;
    transition: 500ms;
}

table tr:hover th {
    background-color: #f7f7f7;
    color: #8c52ff;
    transition: 500ms;
}
table th{
    background-color: #8c52ff;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    border: #8c52ff 1px solid;
}
table td{
    border: #8c52ff 1px solid;
    background-color: #bfaaef;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}
table{
    border: #8c52ff 1px solid;
    width: 100%;
}