<header>
  <h1 class = "title">Miselania</h1>
</header>
<body>
  
<nav>
    <ul>
      <li>
        <a routerLink="/home">
          <button>home</button>
        </a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active">
          <button>login</button>
          
        </a>
      </li>
        <li>
        <a routerLink="/new-user" routerLinkActive="active">
          <button>new-user</button>
        </a>
      </li>
    </ul>
  </nav>
</body>
<router-outlet></router-outlet>

by Felipe Vera