/* @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

.presentation{
    color: #ffffff;
    width: 40%;
    position: relative;
    margin: 0;
}

.presentation p{
    width:30;
}

.title{
    background: #fff;
    color: #8c52ff ;
    position: absolute;
    top: 0%;
    width: 100%;
    margin: 0;
    padding: 0px;
    font-size: 70px;
    font-family: "Russo One", sans-serif;
    transition: 1s;
 } 
.title:hover{
    color: #b1b1de;
    transition: 1s;
}


 .presentation{
    padding-top: 90px;
    font-family: 'Asset', sans-serif;
 }
 .presentation h2{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    padding-left: 50px;
    margin: 0;
    color: #ffffff;
 }
 .presentation p{
    font-size: 35px;
    padding-left: 50px;
    font-family: 'Raleway', sans-serif;
    color: #f4f4ff;
    margin-top: 0;

 }
 .presentation button{
    font-size: 35px;
    padding-left: 50px;
    font-family: 'Raleway', sans-serif;
    color: #171718;
    background-color: #8c52ff;
    border: none;
    border-radius: 10px;
    margin-left: 50px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
 }
 .presentation button:hover{
    background-color: #b1b1de;
    color: #19181b;
    transition: 1s;
 }
img{
   margin-top: 50px;
   width: 150px;
   height: 150px;
   margin-left: 800px;
   border: 2px solid black;
   }