<div class = "container">

    <div class = "presentation">
      <h2>Puesto con personas extraordinarias</h2>
      <img src="https://firebasestorage.googleapis.com/v0/b/felipe-proyectos.appspot.com/o/javascript%2Fimagenes%2F34611.png?alt=media&token=c051a515-5913-4066-aee6-0ede663bf7cc">
      <p>
        Miselania simplifica ventas, inventario y operaciones comerciales con una interfaz intuitiva, informes en tiempo real, automatización y integración con sistemas de punto de venta. Potencia tu negocio hoy.. 
      </p>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
          <button>Iniciar secion</button> 
        </a>
      </div>
</div>
<router-outlet></router-outlet>