<aside> 
<ul>
    <a routerLink="/venta" routerLinkActive="active" ariaCurrentWhenActive="page"><li>Venta</li></a>
    <a routerLink="/deudores" routerLinkActive="active" ariaCurrentWhenActive="page"><li>Deudores</li></a>
    <a routerLink="/proveedor" routerLinkActive="active" ariaCurrentWhenActive="page"><li>Proveedores</li></a>
    <a routerLink="/reportes" routerLinkActive="active" ariaCurrentWhenActive="page"><li>Reportes</li></a>
    <a routerLink="/configuracion" routerLinkActive="active" ariaCurrentWhenActive="page"><li>Configuracion</li></a>


</ul>
</aside>
<main>  
<h1>{{miselania.nombre}}</h1>
    <table border="1">
        <caption>Productos</caption>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Presentacion</th>
        </tr>
        <tr *ngFor = "let producto of arrProductos">
            <td>{{producto.nombre}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.imagen}}</td>
            <td>{{producto.presentacion}}</td>
        </tr>
    </table>
</main>


